# 全局配置
global:
  namespace: todo-ns

# 1. 关键：用于模板函数中生成 Cloud SQL 实例连接名称
gcp:
  projectId: "project-60addf72-be9c-4c26-8db"
  region: "asia-east2"
  sqlInstanceName: "todo-db-instance"

# Backend 配置
backend:
  # 2. 关键：添加 ksa 名称
  ksaName: todo-ksa
  replicaCount: 2
  image:
    repository: asia-east2-docker.pkg.dev/project-60addf72-be9c-4c26-8db/todo-docker-repo/todo-gcp-backend
    tag: latest
    pullPolicy: Always
  service:
    type: ClusterIP
    port: 5000
  env:
    SECRET_KEY: your_secret_key_here
    # 3. 关键：添加 Cloud SQL 的环境变量
    # 由于 Cloud SQL 实例已配置 Cloud SQL Auth Proxy，
    # 因此数据库主机地址指向本地回环地址和默认端
    DB_HOST: "127.0.0.1"        # 本地回环地址
    MYSQL_PORT: "3306"          # MySQL 端口
    MYSQL_DATABASE: "todo_db"   # 数据库名称
    MYSQL_USER: "jerry"         # 数据库用户名
    MYSQL_PASSWORD: "000000"    # 数据库密码

# Frontend 配置
frontend:
  replicaCount: 2
  image:
    repository: asia-east2-docker.pkg.dev/project-60addf72-be9c-4c26-8db/todo-docker-repo/todo-gcp-frontend
    tag: latest
    pullPolicy: Always
  service:
    # 4. 关键：前端服务类型改为 LoadBalancer 以支持公网访问
    type: LoadBalancer
    port: 80